USE [master]
GO
/****** Object:  Database [Scuola]    Script Date: 19/11/2021 14:22:01 ******/
CREATE DATABASE [Scuola]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Scuola', FILENAME = N'C:\Users\Marti\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\Scuola.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Scuola_log', FILENAME = N'C:\Users\Marti\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\Scuola.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scuola].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scuola]
GO
USE [Scuola]
GO
/****** Object:  Table [dbo].[Studente]    Script Date: 19/11/2021 14:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studente](
	[IdStudente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[DataNascita] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStudente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Studente] ON 

INSERT [dbo].[Studente] ([IdStudente], [Nome], [Cognome], [DataNascita]) VALUES (1, N'Gino', N'Peppino', CAST(N'2006-05-25' AS Date))
INSERT [dbo].[Studente] ([IdStudente], [Nome], [Cognome], [DataNascita]) VALUES (2, N'Livia', N'Puddu', CAST(N'2006-12-11' AS Date))
INSERT [dbo].[Studente] ([IdStudente], [Nome], [Cognome], [DataNascita]) VALUES (3, N'Nenno', N'Lello', CAST(N'2006-08-30' AS Date))
SET IDENTITY_INSERT [dbo].[Studente] OFF
GO
USE [master]
GO
